.page-container{
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;


}
.parent{
 /* border: black solid;
  margin: auto;*/
  margin-top: 30px;
  border-radius: 20px;
  background-color: white;
  max-height: 90vh;
  overflow: hidden;

}
